<head>
    <link rel="stylesheet" href="/common/style/carinfo.css" />
</head>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
            <a href="./" class="mdl-layout__tab">Front page</a>
            <a href="/apiwiki" class="mdl-layout__tab">API</a>
            <a href="/about" class="mdl-layout__tab">About</a>
        </div>
    </header>

    <main class="mdl-layout__content">
        <div class="page-content" id="view">

        </div>

        <script src="/pages/vehicle/javascript/view.js"></script>
    </main>
</div>