<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Garry's Mod Vehicle Database</title>
    <link rel="stylesheet" type="text/css" href="style/base.css">
</head>
<body>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/javascript/accountbuttons.js'></script>    
    <script
		src="http://code.jquery.com/jquery-3.3.1.js"
		integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>
    <script>var APIToken = '<%= APIToken %>';</script>

    <header id="title">Garry's Mod Vehicle Database</header>
    <p id="logininfo"><%=loggedInMessage%></p>
        
    <div class='steambutton'>
        <a href="/logout" type="button">Logout</a>
    </div>

    <hr style="height: 1px; color: white;">

    <div id="account">
        <p>Account</p>
    </div>

    <div class="info">
        <div class="block">
            <p id='apitoken'>
                API Token: <%=APIToken%> 
            </p>
            <button onclick="buttonTokenChange()">Change</button>
            <hr style="height: 0.2px; color: white;">
        </div>
    </div>

    <div class="bottom">
        <p id="mb">Made by KrypteK & Maybe Haaax XDDD</p>
    </div>  
</body>
</html>
