<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Garry's Mod Vehicle Database</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-light_blue.min.css" />
    <link rel="stylesheet" href="/style/prettify.css" />
    <link rel="stylesheet" href="/style/aside.css" />
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=css&amp;skin=Desert"></script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Account</span>

            <nav class="mdl-navigation">
                <% if (isLoggedIn) { %>
                    <a class="mdl-navigation__link" href="/logout">Logout</a>
                    <% } else { %>
                        <a class="mdl-navigation__link" href="/auth/steam">Login</a>
                        <%} %>
            </nav>
        </div>
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">Garry's Mod Vehicle Database</span>
            </div>
            <!-- Tabs -->
            <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
                <a href="./" class="mdl-layout__tab">Front page</a>
                <a href="/apiwiki" class="mdl-layout__tab is-active">API</a>
                <a href="/about" class="mdl-layout__tab">About</a>
            </div>
        </header>
        <main class="mdl-layout__content">
            <section class="mdl-layout__tab-panel is-active" id="scroll-tab-2">
                <div class="page-content">
                    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
                        <div class="mdl-layout__drawer">
                            <nav class="mdl-navigation" id="sidenav">
                                <a class="mdl-navigation__link" href="#_introduction">Introduction</a>
                            </nav>
                        </div>
                        <main class="mdl-layout__content">
                            <div class="page-content" id="apipagecontent">
                                <div id="_introduction">
                                    <h3>
                                        Introduction
                                    </h3>
                                    <p>
                                        Welcome to our API! Everything here is based on HTTP requests. Every API request is based on the link:
                                    </p>
                                    <pre class="prettyprint lang-html">http://nodejs-mongo-persistent-gmodcarregistration.193b.starter-ca-central-1.openshiftapps.com/api?</pre>
                                    <p>
                                        <strong>To use the API, you must use your own unique API key.</strong> You can find that
                                        in your account info. API parameters do not need a certain order. All parameters
                                        are seperated by the '&' symbol. If you wish to have spaces for a certain input,
                                        replace the spaces with '%20'.
                                    </p>
                                    <p>
                                        Here's an example of the API that returns a random car license, based on a region named 'Spitsburg':
                                    </p>
                                    <pre class="prettyprint lang-html">http://nodejs-mongo-persistent-gmodcarregistration.193b.starter-ca-central-1.openshiftapps.com/api?token=XXXXXXXXXXXXXX&randlicense&host=Spitsburg</pre>
                                    <p>
                                        As you can see, there are 3 parameters:
                                    </p>
                                    <ol>
                                        <li>token=XXXXXXXXXXXXXX</li>
                                        <li>randlicense</li>
                                        <li>host=Spitsburg</li>
                                    </ol>
                                    <p>
                                        Not every parameter needs a value, like the 'host' parameter. If you wish to send an array for a certain parameter you can
                                        do this:
                                    </p>
                                    <pre class="prettyprint lang-html">a=1&a=2&a=3</pre>
                                    <p>
                                        This would make it so the API recieves a as array {1,2,3}
                                    </p>
                                    <hr>
                                </div>
                            </div>
                        </main>
                    </div>
                </div>
            </section>
        </main>

        <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer__left-section">
                <div class="mdl-logo">Garry's Mod Vehicle Database</div>
                <ul class="mdl-mini-footer__link-list">
                    <li>
                        <a href="#">Made by KrypteK & Haaax</a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>

    <script src="/javascript/apiwiki.js"></script>

</body>

</html>