<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Garry's Mod Vehicle Database</title>
  <link rel="stylesheet" type="text/css" href="style/base.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
  <header id="title">Garry's Mod Vehicle Database</header>

  <% if (loggedInMessage) { %>
    <p id="logininfo"><%=loggedInMessage%></p>
        
    <div class='steambutton'>
      <a href="/logout" type="button">Logout</a>
    </div>
  <% } else { %>
    <p id="logininfo">You are not logged in</p>
    
    <div class='steambutton'>
      <a href="/auth/steam" type="button">Login with Steam</a>
    </div>
  <%} %>

  <hr style="height: 1px; color: white;">
  <div id="summary">
    <p>This is the Garry's Mod Vehicle Database - an online database meant to keep track of existing vehicles built in Garry's Mod.</p>
  </div>
  <div class="bottom">
    <p id="mb">Made by KrypteK & Maybe Haaax XDDD</p>
  </div>  
</body>
</html>
