<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Garry's Mod Vehicle Database</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-light_blue.min.css" />
    <link rel="stylesheet" href="/style/prettify.css" />
    <link rel="stylesheet" href="/style/aside.css" />
    <link rel="stylesheet" href="/style/cards.css" />

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=css&amp;skin=Desert"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    
    <% if (typeof pagefile != 'undefined') { %>
        <script>var pageFile = '<%- pagefile%>';</script>        
    <% } %>

    <% if (typeof requser != 'undefined') { %>
        <script>var user = <%- requser%>;</script>        
    <% } %>

    <script src="/javascript/main.js"></script>
    
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <!-- Side drawer -->
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Account</span>

            <nav class="mdl-navigation">
                <% if (isLoggedIn) { %>
                    <a class="mdl-navigation__link" href="/account">View</a>                 
                    <a class="mdl-navigation__link" href="/register">Register Vehicle</a>
                    <a class="mdl-navigation__link" href="/logout">Logout</a>
                    <% } else { %>
                        <a class="mdl-navigation__link" href="/auth/steam">Login</a>
                        <%} %>
            </nav>
        </div>

        <!-- Header containing the title -->
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">Garry's Mod Vehicle Database</span>
            </div>
        </header>


        <!-- All page content will go here -->
        <main id="page-content"></main>

    </div>
</body>

</html>