<head>
    <link rel="stylesheet" href="/pages/register/style/register.css" />
    <link rel="stylesheet" href="/common/style/carinfo.css" />

    <!-- stuff needed for dialog panel -->
    <script src="/common/style/dialog-polyfill/dialog-polyfill.js"></script>
    <link rel="stylesheet" href="/common/style/dialog-polyfill/dialog-polyfill.css" />

    <script src="/common/javascript/jquery.immybox.js"></script>
    <link rel='stylesheet' type='text/css' href="/common/style/immybox.css">
</head>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
            <a href="./" class="mdl-layout__tab">Front page</a>
            <a href="/apiwiki" class="mdl-layout__tab is-active">API</a>
            <a href="/about" class="mdl-layout__tab">About</a>
        </div>
    </header>

    <main class="mdl-layout__content">
        <h4>Register Vehicle</h4>

        <div class="forms">
            <div class="forms-grid">
                <div class="forms vname">
                    <form action="#">
                        <h5>Vehicle Name</h5>
                        <div class="mdl-textfield mdl-js-textfield" id="div_vehiclename">
                            <input class="mdl-textfield__input" type="text" id="in_vehiclename" pattern="[A-Za-z0-9\-\s()]+">
                            <label class="mdl-textfield__label" for="sample1">Vehicle Name</label>
                            <span class="mdl-textfield__error">Input is not a valid name!</span>
                        </div>
                    </form>

                </div>

                <div class="forms region">

                    <h5>Region</h5>
                    <p>
                        The region/server that the license plate will be based on.
                    </p>

                    <div class="mdl-textfield mdl-js-textfield" id="div_region">
                        <input id="in_region" type="text" class="mdl-textfield__input">
                        <!-- <label class="mdl-textfield__label" for="in_region">Region</label> -->
                        <span class="mdl-textfield__error">Please select a region</span>
                    </div>

                </div>

                <div class="forms images">
                    <form action="#">
                        <h5>Images</h5>

                        <p>
                            Add online hosted images to showcase your vehicle
                        </p>

                        <div class="imagefields">
                        </div>

                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" id="addimagelinks">
                            <i class="material-icons">add</i>
                        </button>
                    </form>
                </div>

                <div class="forms desc">
                    <form action="#">
                        <h5>Description</h5>
                        <div class="mdl-textfield mdl-js-textfield">
                            <textarea class="mdl-textfield__input" type="text" rows="3" id="in_description"></textarea>
                            <label class="mdl-textfield__label" for="sample5">Description...</label>
                        </div>
                    </form>
                </div>

                <div class="forms country">

                    <h5>Country</h5>
                    <p>
                        The country that the license plate will be based on.
                    </p>

                    <div class="mdl-textfield mdl-js-textfield" id="div_country">
                        <input id="in_country" type="text" class="mdl-textfield__input">
                        <!-- <label class="mdl-textfield__label" for="in_country">Country</label> -->
                        <span class="mdl-textfield__error">Please select a country</span>
                    </div>

                </div>

                <div class="forms owners">
                    <form action="#">
                        <h5>Co-owner(s)</h5>

                        <p>
                            (Optional) Add people that also own the vehicle. Uses steamid64.
                        </p>

                        <div class="co-owners">
                        </div>

                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" id="addco-owner">
                            <i class="material-icons">add</i>
                        </button>
                    </form>
                </div>

                <div class="forms ftags">
                    <form action="#">
                        <h5>Tags</h5>
                        <div class="mdl-textfield mdl-js-textfield">
                            <textarea class="mdl-textfield__input" type="text" rows="2" id="in_tags"></textarea>
                            <label class="mdl-textfield__label" for="sample5">Tags seperated by commas...</label>
                        </div>
                    </form>
                </div>

                <div class="forms manufacturer">
                    <form action="#">
                        <h5>Manufacturer</h5>
                        <div class="mdl-textfield mdl-js-textfield" id="div_manufacturer">
                            <input class="mdl-textfield__input" type="text" id="in_manufacturer" pattern="[A-Za-z0-9\-\s()]+">
                            <label class="mdl-textfield__label" for="sample1">Manufacturer</label>
                            <span class="mdl-textfield__error">Input is not a valid name!</span>
                        </div>
                    </form>

                </div>

                <div class="forms specifications">
                    <form action="#">
                        <h5>Specifications</h5>

                        <p>
                            (Optional) Add specifications to your vehicle. 
                        </p>

                        <div class="specs">
                        </div>

                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" id="addspec">
                            <i class="material-icons">add</i>
                        </button>
                    </form>
                </div>
            </div>

        </div>

        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" id="registerbutton">
            register
        </button>

        <hr>

        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" id="previewbutton">
            preview
        </button>

        <div class="page-content" id="preview">

        </div> 

        <dialog id="terms" class="mdl-dialog">
            <div class="mdl-dialog__content">
                <p>
                    I understand that uploading any form of explicit, or other unrelated content will result in the
                    <span style="color: red;">termination</span> of my on-site account, and that such actions cannot be repealed.
                </p>
            </div>
            <div class="mdl-dialog__actions">
                <button type="button" class="mdl-button mdl-js-button mdl-button--primary">Agree</button>
                <button type="button" class="mdl-button mdl-js-button mdl-button--primary">Disagree</button>
            </div>
        </dialog>

        <script src="/pages/register/javascript/register.js"></script>
        <script src="/pages/register/javascript/registerdropdown.js"></script>
        <script src="/pages/register/javascript/registerpreview.js"></script>
    </main>
</div>