body {
    font-family: Helvetica, Arial, Sans-Serif;
    background: rgb(39, 158, 231);
    padding:0;
    margin:0;
}

#title {
    font-size: 48px;
    color: white;
    padding: 25px 0px 0px 15px;     
}

#logininfo {
    font-size: 28;
    color: white;
    padding-left: 15px; 
    display: inline;    
}

.steambutton {
    padding: 0px 15px 0px 15px; 
    float: right;
    display: inline;
    color: white;
}

.steambutton a {
    font-size: 28;
    color: white;
    padding: 0px 15px 0px 15px;
    background: rgb(93, 231, 39);   
    cursor:pointer;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    border:1px solid #CCC;
    text-decoration: none;
}

p {
    color: white;
    font-size: 20px;
}

#summary {
    word-wrap: normal;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;    
    width: 1000px;
}

#account {
    color: white;
    padding: 0px 0px 0px 15px;    
}

#account p {
    font-size: 32px; 
}

.info {
    padding: 0px 50px 0px 50px;    
    display: block;
    margin-right: auto;
    width: 50%;
    font-size: 28;
}

.info p {
    display: inline;
}

.info button {
    float: right;
    color: white;
    font-size: 28;
    padding: 0px 15px 0px 15px;
    background: rgb(75, 75, 75);   
    cursor:pointer;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    border:1px solid #CCC;
    text-decoration: none;
}

.bottom {
    word-wrap: normal;
    display: block;
    padding-top: 25px;    
    height: 100px;
    width: 100%;
    background: rgb(65, 65, 65);
    position:absolute;
    bottom:0;
}

#mb {
    margin-left: 25px;
}